@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.homepage {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("/homepageresort.jpg");
  background-size: cover; /* Fait en sorte que l'image couvre entièrement la div */
  background-position: center; /* Centre l'image dans la div */
  background-repeat: no-repeat; /* Empêche l'image de se répéter */
}

.button {
  @apply bg-pyellow border-2 border-white hover:bg-white hover:border-black hover:border-2 hover:text-black text-white font-medium rounded-xl;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
